<div class="shop-container">
    <!-- Sidebar หมวดหมู่ -->
    <aside class="sidebar">
        <h3>หมวดหมู่</h3>
        <ul>
            <li (click)="selectedCategory = 'all'" [class.active]="selectedCategory === 'all'">
            แสดงทั้งหมด
            </li>
            <li *ngFor="let cat of categoryOptions"
                (click)="selectedCategory = cat"
                [class.active]="selectedCategory === cat">
            {{ cat }}
            </li>
        </ul>
    </aside>

    <div *ngIf="filteredProducts().length === 0">
        ❌ ไม่มีสินค้าในหมวด "{{ selectedCategory }}"
    </div>


    <!-- พื้นที่แสดงสินค้า -->
    <main class="product-grid">
        <a *ngFor="let product of filteredProducts()"
            class="product-card"
            [routerLink]="['/product', product.id]">
            
            <img [src]="product.imageUrl" alt="{{ product.name }}" />
            <h4>{{ product.name }}</h4>
            <p>{{ product.description }}</p>
            <div class="price">฿{{ product.price }}</div>
        </a>
    </main>
</div>
